<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shop & Wish</title>
  <!-- Milligram CSS for Some Default Styling -->
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- OUR CSS AND JS -->
  <link rel="stylesheet" href="/styles.css" />
  <script src="/server.js" defer></script>
</head>

<body>
  <header>
    <a href="/products">
    <h1>Shop & Wish</h1>
  </a>
  </header>
  <!-- navigation items -->
  <nav id="nav">

    <div class="navL">
    {% if logged == true %}
    <a class="leftNav" href="/products/myInfo"><button>My Info</button></a>
    <a href="/users/logout"><button>Logout</button></a>
    {%else%}
    <a href="/users/signup"><button>Signup</button></a>
    <a href="/users/login"><button>Login</button></a>
    {% endif%}
  </div>
    <div class="navR">
      {% if logged == true %}
      <a class="leftNav" href="/products/wishlists"><button>WishList</button></a>
      {% endif%}
      <a class="cartIcon" href="/products/{{product._id}}cartpage"><button>Cart{{user.cart.length}}</button></a>
    </div>
  </nav>

  <main>{% block content %}My default content{% endblock %}</main>

  <footer></footer>
</body>

</html>
