{% layout "layout.liquid" %}
{% block content %}

  <div class = "loginBody">
      <div class = "login">
        <form action="/users/login" method="post">
          <fieldset>
            <legend> <h3 class ="loginTitle"> Log-In </h3></legend>
            <label
              >USERNAME: <input type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input type="password" name="password" required />
            </label>
            <input type="submit" value="Login" />
          </fieldset>
        </form>
      </div>
    </div>
{% endblock %}
