
body{
    margin: 10px 20px auto;
    
}
#nav{
    display: flex;
    justify-content:space-between;
    margin:10px auto;
    

}
#myInfo{
   justify-self: flex-start;
   
}

.catalogue{
    /* height:2000px;
    width:1200px; */
    /*display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: 50% 50%; */
    display: flex;
    justify-content:flex-start;
    flex-direction:row;
    flex-wrap:wrap;
   
}

h1{
    text-align: center;
    
}
button{
    margin: 5px 5px auto;
}
.productTitle{
    font-size:large;
}

.products{
    display: flex;
    flex-direction: column;
   padding: 10px 10px auto;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height: 400px;
    margin:50px 50px auto;
    background-color: whitesmoke;
    
    text-align:center;
}



#addReview {
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  
  #addReview input[type="submit"] {
    width: 8rem;
    grid-column: 2 / 3;
    margin-bottom: 2rem;
  }