body {

    margin: 10px 0px auto;

}
#titleBlock{
    padding-top:50px;
    background-color:rgb(248, 248, 248);
    text-align: center;
}

#nav {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    margin: 30px 0px auto;
    align-items: center;
    background-color:rgb(248, 248, 248);
    /* border-top: 2px solid #9b4dca;
    border-bottom: 2px solid #9b4dca; */
    height:100px;
}

.navL {
    margin: 0px 40px 0px 40px;
    justify-self: flex-start;

}

.navR {
    margin: 0px 40px 0px 40px;
    justify-self: flex-end;

}

.catalogue {
    width: 80%;
    margin: 100px 100px 100px 100px;
    display: grid;
    /* grid-template-areas: "a a a a a"; */
    grid-template-columns: repeat(7, 1fr);
    /* grid-auto-columns: minmax(20%, 80vmax);;; */
    gap: 0.5%;
   
    /* display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap; */

}

h1 {
    text-align: center;

}

button {
    margin: 5px 5px auto;
}

.productTitle {
    font-size: large;
}

.products {
    display: flex;
    flex-direction: column;
    padding: 10px 10px auto;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 400px;
    margin: 50px 50px auto;
    /* background-color: whitesmoke; */
    
    text-align: center;
}



#addReview {
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

#addReview input[type="submit"] {
    width: 8rem;
    grid-column: 2 / 3;
    margin-bottom: 2rem;
}

.shopTitle {
    font-family: 'Fascinate', cursive;
    font-size: 70px;
   

}

.products {
    /* border: 3px solid #9b4dca; */
    border-radius: 20px;
    box-shadow: 2px 2px 5px  #9b4dca;

}


.products:hover {

    border: 7px solid #9b4dca;
    /* border-radius:20px ; */
}


.productTitle {
    color: #9b4dca;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    /* width: 300px; */
}


.productPrice {
    color: #38363a;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    /* width: 300px; */
}


.productImage {

    margin-top: 30px;

    /* width: 300px; */
}


.showProduct {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showImage {
    margin: 20px 20px auto;

    width: 400px;
    height: 400px;
}

.showPtitle {
    width: 600px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 60px 20px 30px 20px;
}


.reviewTable{

    width: 1300px
}

.reviewBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px auto;
}
#addReview{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px auto;
}

.reviewText{
    width:700px;
    height:200px;
}



.addReviewB{
    font-size: small;
    width: 800px;
    /* grid-area: right; */
    /* position:relative; top:25px; left: 50%; */
}

.cart{

    width: 900px;
}

.cartBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px auto;
    text-align: center;
}

.cartText{
    color: #9b4dca;
    font-weight: 600;
    font-size: 32px;


}

.login{
    
    width: 500px;
    height :600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 20px auto;
    text-align: center;
    border: 3px solid #9b4dca;
    border-radius: 40px;
    
}

.loginBody{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px auto;
    text-align: center;
}

.loginTitle{
    color: #9b4dca;
    font-weight: 600;
    font-size: 32px;
}